---
- name: Make sure certain kde packages are installed
  become: true
  ansible.builtin.package:
    name:
      - kde-config-plymouth
      - plymouth-theme-breeze

- name: Set Plymouth theme to breeze
  become: true
  ansible.builtin.command:
    cmd: plymouth-set-default-theme breeze
  register: kde_settings_plymouth_theme_set
  changed_when: kde_settings_plymouth_theme_set.rc == 0

- name: Rebuild initramfs to apply Plymouth theme
  become: true
  ansible.builtin.command:
    cmd: update-initramfs -u
  when: kde_settings_plymouth_theme_set.changed

- name: Ensure KDE config directory exists
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config"
    state: directory
    mode: '0775'

# Configure kdeglobals (theme and file dialog settings)
- name: Configure kdeglobals settings
  community.general.ini_file:
    path: "{{ ansible_user_dir }}/.config/kdeglobals"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    ignore_spaces: true
    mode: '0600'
  loop: "{{ kde_settings_kdeglobals_settings }}"
  loop_control:
    label: "{{ item.section }}/{{ item.option }}"
  notify: Remind user to re-login

# Configure kscreenlockerrc (screen locker settings)
- name: Configure screen locker settings
  community.general.ini_file:
    path: "{{ ansible_user_dir }}/.config/kscreenlockerrc"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    ignore_spaces: true
    mode: '0600'
  loop: "{{ kde_settings_kscreenlockerrc_settings }}"
  loop_control:
    label: "{{ item.section }}/{{ item.option }}"
  notify: Remind user to re-login

# Configure powerdevilrc (power management settings)
- name: Configure power management settings
  community.general.ini_file:
    path: "{{ ansible_user_dir }}/.config/powerdevilrc"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    ignore_spaces: true
    mode: '0600'
  loop: "{{ kde_settings_powerdevilrc_settings }}"
  loop_control:
    label: "{{ item.section }}/{{ item.option }}"
  notify: Remind user to re-login

# Configure plasmashellrc (plasma shell settings)
- name: Configure plasma shell settings
  community.general.ini_file:
    path: "{{ ansible_user_dir }}/.config/plasmashellrc"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    ignore_spaces: true
    mode: '0600'
  loop: "{{ kde_settings_plasmashellrc_settings }}"
  loop_control:
    label: "{{ item.section }}/{{ item.option }}"
  notify: Remind user to re-login

# Configure plasma-org.kde.plasma.desktop-appletsrc (panel and taskbar settings)
- name: Configure plasma desktop and panel settings
  community.general.ini_file:
    path: "{{ ansible_user_dir }}/.config/plasma-org.kde.plasma.desktop-appletsrc"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    ignore_spaces: true
    mode: '0600'
  loop: "{{ kde_settings_plasma_appletsrc_settings }}"
  loop_control:
    label: "{{ item.section }}/{{ item.option }}"
  notify: Remind user to re-login

# Configure ksmserverrc (session manager settings)
- name: Configure session manager settings
  community.general.ini_file:
    path: "{{ ansible_user_dir }}/.config/ksmserverrc"
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    ignore_spaces: true
    mode: '0600'
  loop: "{{ kde_settings_ksmserverrc_settings }}"
  loop_control:
    label: "{{ item.section }}/{{ item.option }}"
  notify: Remind user to re-login
