- name: Make sure fonts directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.local/share/fonts/"
    state: directory
    recurse: true

- name: Copy fonts
  ansible.posix.synchronize:
    src: "files/"
    dest: "{{ ansible_facts['user_dir'] }}/.local/share/fonts/"
    checksum: true
    delete: false
    archive: false
  notify:
    - Refresh font cache
